
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="home page">
		<meta name="author" content="Mitko Donchev">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
    
    <script src="https://kit.fontawesome.com/8d479f3417.js" crossorigin="anonymous"></script>
	</head>
	<body>
    <header class="navbar">
      <div class="container">   
        <div class="site-branding">
          <h1 class="site-title">Local Community</h1>
        </div>
        <div class="login">
          {{#if authorised}}
            <a href="/logout"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
          {{else}}
            <a href="/login"><i class="fas fa-sign-in-alt"> Sign In</i></a>
          {{/if}}
        </div>
    </div>
   </header>
 <main class="main-area">
  <div class="centered">
    {{#if authorised}}
    <a href="/issue/new" class="button">New Issue</a>
    {{/if}}
    <section class="cards">
      {{#each issues}}
          
      <article class="card">
        <a href="#">
          <figure class="thumbnail">
            <img src="uploads/{{this.img}}" alt="issue">
          </figure>
          <div class="card-content">
            <h2>{{this.title}}</h2>
            <hr>
            <p>Located: {{this.location}}</p>
            <p>Status: {{this.status}}</p>
            More Info
          </div>
        </a>
      </article>
            
      {{/each}}
    </section>
  </div>
 </main>
    
 <footer class="footer">
  <div class="container">
    <p>2020 Mitko Donchev. All rights reserved!</p>
  </div>
 </footer>
    
 </body>
</html>
