<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="display single issue information">
		<meta name="author" content="Mitko Donchev">
		<link href="{{host}}/new.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
    <a href="/logout">Log out</a>
    <p><a href="/">Home page</a></p>
		<h1>Issue: {{issue.title}}</h1>
		</header>
		<main>
		<div class="centered">
    <section class="cards">
      <article class="card">
          <figure class="thumbnail">
            <img src="/uploads/{{issue.img}}" alt="issue">
          </figure>
          <div class="card-content">
            <h2>{{issue.title}}</h2>
            <hr>
            <p>Located: {{issue.location}}</p>
            <p>Status: {{issue.status}}</p> 
            {{#unless worker}}
              {{#unless isResolvedByC}}
                {{#unless author}}
                  {{#unless resolving}}
                    {{#unless resolved}}
                      {{#unless verified}}
                        <form class="special" action="/issue/{{issue.id}}?_method=PUT" method="POST">
                          <input type="hidden" name="status" value="verified">  
                          <button>
                            Verify!
                          </button>
                        </form>
                      {{/unless}}
                    {{/unless}}
                  {{/unless}}
                {{/unless}}
                {{#unless author}}
                  {{#unless resolving}}
                    {{#unless resolved}}
                    <form class="special" action="/issue/{{issue.id}}?_method=PUT" method="POST">
                      <button>
                        Resolve!
                      </button>
                    </form>
                    {{/unless}}
                  {{/unless}}
                {{/unless}}
              {{/unless}}
            {{/unless}}
            
            {{#if worker}}
              {{#unless resolved}}
                {{#unless resolving}}
                  {{#unless isResolvedByC}}
                    <form class="special" action="/issue/{{issue.id}}?_method=PUT" method="POST">
                      <input type="hidden" name="status" value="resolved by the council">  
                      <button>
                        Resolve!
                      </button>
                    </form>
                  {{/unless}}
                {{/unless}}
              {{/unless}}
            {{/if}}

            {{#if author}}
              {{#if resolving}}
                {{#unless isResolvedByC}}
                <form class="special" action="/issue/{{issue.id}}?_method=PUT" method="POST">
                  <button>
                    Resolved!
                  </button>
                </form>
                {{/unless}}
              {{/if}}
            {{/if}}
            <p>Description: {{issue.des}}</p>
          </div>
      </article>            
    </section>
    </div>
		</main>
	</body>
</html>
